@import './loader';

#root {
  margin: 0 auto;
  max-width: 800px;
}

.row {
  margin-bottom: 15px;
}

.fade-transition {
  opacity: 0;
  transition: opacity 450ms;

  &.fade-entered {
    opacity: 1;
  }
}